<div class="row">
  <button (click)="showAll()">Show All</button>
</div>
<div class="row">
  <select (change)="selectCountry($event.target.value)">
    <option value="">Select Option</option>
    <option *ngFor="let c of countries" [value]="c">
      {{c}}
    </option>
  </select>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <td>Rank</td>
        <td>Country</td>
        <td>Nick</td>
        <td>Score</td>
        <td *ngFor="let p of problems">
          {{p.label}}
        </td>
      </thead>
      <tr class="border-table" *ngFor="let d of data">
        <td>{{d.rank}}</td>
        <td>{{d.country}}</td>
        <td>{{d.displayname}}</td>
        <td>{{d.score_1}}</td>  
        <td>{{totalAttemps(0 ,d)}}/{{penaltyAttemps(0 ,d)}} {{score(0, d)}}</td>
        <td>{{totalAttemps(1 ,d)}}/{{penaltyAttemps(1 ,d)}} {{score(1, d)}}</td>
        <td>{{totalAttemps(2 ,d)}}/{{penaltyAttemps(2 ,d)}} {{score(2, d)}}</td>
        <td>{{totalAttemps(3 ,d)}}/{{penaltyAttemps(3 ,d)}} {{score(3, d)}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row ">
  <div class="col-sm-12 col-md-7 col-lg-8 text-center">
      <div class="bg-light py-2">
          <pagination [totalItems]="numberOfElements" [itemsPerPage]="pageSize" (pageChanged)="changePage($event)"></pagination>
      </div>
  </div>
</div>